mixin datepicker(id_start,id_end,text1,text2)
    .date-dropdown
        .date-dropdown_inner
            label.date-dropdown_more=text1
                input.date-dropdown_input.date-dropdown_first.text-field(id=id_start type="text" data-range="true" data-multiple-dates-separator="-" placeholder="ДД.ММ.ГГГГ" readonly)
            label.date-dropdown_more=text2
                input.date-dropdown_input.date-dropdown_second.text-field(id=id_end type="text" placeholder="ДД.ММ.ГГГГ" readonly)

mixin one_datepicker(id,text)
    .date-dropdown
        .date-dropdown_inner 
            label.date-dropdown_more=text
                input.date-dropdown_input.date-dropdown_first.text-field_one(id=id type="text" data-range="true" data-multiple-dates-separator="-" placeholder="ДД.ММ.ГГГГ" readonly)

mixin open_datepicker
    .date-dropdown
        .date-dropdown_inner
            .date-dropdown_more
                .date-dropdown_first

